{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="/static/js/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/static/js/jplayer/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript" src="/static/js/handlebars-v1.1.0.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    // initialize jplayer playlist
    var playQueue = new jPlayerPlaylist({
        jPlayer: "#jquery_jplayer_1",
        cssSelectorAncestor: "#jp_container_1"
    }, [ /* empty playlist initially */ ], {
        playlistOptions: {
            enableRemoveControls: true
        },
        swfPath: "/static/js/jplayer",
        supplied: "m4a, mp3, ogg",
        smoothPlayBar: true
    });

    // library holding list of all songs
    var library = {{ library|safe }};

    // event bindings for the playlist
    // https://groups.google.com/forum/#!topic/jplayer/BmkFZqa3oFQ
    $("#jquery_jplayer_1").bind($.jPlayer.event.play, function(event) {
        $('#current-track').empty();
        $('#current-track').text(playQueue.playlist[playQueue.current].title);
        $('#current-artist').text(
            "["+ playQueue.playlist[playQueue.current].artist+"]"
        );
    });

    // --------------------------------------------------

    // A mapping of key --> function(song) that returns true/false,
    // false = filter for key filters this song
    // true  = filter for key allows this song to be displayed
    var SELECTION_FILTERS = {};

    $("button.clear-playlist-button").click(function(e) {
        e.preventDefault();
        playQueue.setPlaylist([]);
    });
    $("button.clear-button").click(function(e) {
        e.preventDefault();
        $("input.search-input").val("");
        delete SELECTION_FILTERS["search"];
        refreshList();
    });
    var searchHandler = function(e) {
        SELECTION_FILTERS["search"] = function(song) {
            var cleanString = function(s) {
                return s.toLowerCase().replace(/[^a-z0-9]+/g,"");
            };
            var searchText = cleanString($("input.search-input").val());
            // Fields of a song that can match the search text
            var fieldsToSearch = ["title", "album", "artist"];
            for (var i in fieldsToSearch) {
                var field = fieldsToSearch[i];
                var fieldValue = cleanString(song[field]);

                // If one of the fields matches the search text, search results
                // include this song
                if( fieldValue.indexOf(searchText) >= 0 ){
                    return true;
                }
            }
            return false;
        };
        refreshList();
    };
    $("button.search-button").click(function(e) { e.preventDefault(); searchHandler(e); });
    $("#search-form").submit(function(e) { e.preventDefault(); searchHandler(e); });
    $("input.search-input").keyup(searchHandler);

    // Add All button
    $("button.add-all-button").click(function(e) {
        e.preventDefault();
        // Take all visible library entries and add them to the playlist
        for( var songIndex in library ){
            var song = library[songIndex];
            if( shouldDisplay(song) ){
                playQueue.add(song);
            }
        }
    });
    // Forward/next buttons for the playlist
    $("button.next-track-button").click(function(e) {
        e.preventDefault();
        playQueue.next();
    });
    $("button.prev-track-button").click(function(e) {
        e.preventDefault();
        playQueue.previous();
    });

    // --------------------------------------------------
    // Filagree
    $("input.search-input").focus(function() {
        $(this).animate({width:"300px"});
    }).blur(function() {
        $(this).animate({width:"200px"});
    });

    // --------------------------------------------------
    // Sorting
    // Creates a comparator that can sort by one key, then by another, then another...
    var compoundComparator = function(comparatorList) {
        // copy of the comparator list; we will pop off the first one
        var clc = comparatorList.slice();
        // first comparator in the list of comparators
        var comparator = clc.shift();

        return function(a, b) {
            // compare by the first comparator
            result = comparator(a,b);
            // need further comparing, so recurse
            if ( 0 === result && clc.length > 0 ){
                var continuation = compoundComparator(clc);
                return continuation(a, b);
            }
            return result;
        };
    };
    // Flips 1/-1 each time called, used for toggling asc/desc sorting
    var inverter = (function() {
        var i = 1;
        return function() {
            return i *= -1;
        };
    })();
    // Switch ascending/descending in a comparator
    var invertComparator = function(comparator) {
        var sense = inverter();
        return comps.map(function(e) { return function(a, b) { sense * e(a,b); }; });
    }
    // Create a comparator for a key in an object
    var keyComparison = function(key) {
        return function(obj1, obj2) {
            var a = obj1[key], b = obj2[key];
            if (typeof a === "number" && typeof b === "number") {
                return a - b;
            }
            // Does this make me feel bad inside? No.
            return String(a).toLowerCase().localeCompare(String(b).toLowerCase());
        };
    };
    // Syntax sugar
    var comparify = function(fields) { return fields.map(function(e) { return keyComparison(e); }); };
    // Comparators to attach to headings
    $("a.pyed-heading").click(function(e) {
        e.preventDefault();
        var sortFields = $(this).data("sortfields").split(" ");
        var comparators = comparify(sortFields);

        if( sortFields.length > 0 ){
            var comparator1 = comparators[0];
            var sense = inverter();
            comparators[0] = function(a, b) { return comparator1(a,b) * sense; };
            library.sort( compoundComparator(comparators) );
            renderSelectionList();
        }
    });

    // --------------------------------------------------

    // predicate to determine if song should be part of the selection list,
    // given the current filters
    var shouldDisplay = function(song) {
        for (var key in SELECTION_FILTERS) {
            if (!SELECTION_FILTERS[key](song)) return false;
        }
        return true;
    };
    var renderSelectionList = function() {
        // Clear all the listings first
        $("div.selection-row").remove();
        // Function to render one row of the selection list
        var songsTemplate = Handlebars.compile($("#pyed-row-template").html());
        var songsListing = $("#pyed-pyper-container");
        var renderSong = function(song, index) {
            // Build markup for the row
            var rowMarkup = $(songsTemplate({ song:song,
                                              index:index }));
            // click handler for a row (add to queue)
            rowMarkup.click(function(event) {
                event.preventDefault();
                var songIndex = $(this).data("index");
                playQueue.add(library[songIndex]);
            });

            songsListing.append(rowMarkup);
        };

        // Render the listing
        for (var songIndex in library) {
            var song = library[songIndex];
            renderSong(song, songIndex);
        }

        // click handler for artist text for one-click filtering
        var clickFilterHandler = function(e) {
            // Prevent click handler for row div
            e.stopPropagation();

            var target = $(this).data("filtertarget");
            var value = $(this).text().toLowerCase();

            // Filtering function
            SELECTION_FILTERS[target] = function(song) {
                return String(song[target]).toLowerCase().localeCompare(value) === 0;
            };

            // Add visible filter widget in heading
            var filterTemplate = Handlebars.compile($("#pyed-heading-filter-template").html());
            var allHeadings = $("a.pyed-heading");
            for( var i = 0; i < allHeadings.length; i++ ) {
                var heading = $(allHeadings[i]);
                var headingRepr = heading.data("sortfields").split(" ")[0];

                if (headingRepr === target) {
                    var filterItem = heading.next();
                    var filterContent = filterTemplate({ filter_text: $(this).text(),
                                                         target: target });
                    filterItem.empty();
                    filterItem.append( filterContent );

                    break;
                }
            }

            refreshList();
        };
        $("a.filter-link").click(clickFilterHandler);

        // click handler for filter clear buttons
        $("div.filter-item").on("click", "a.remove-filter", function(e) {
            e.preventDefault();
            var filtered = $(this).data("filtertarget");
            delete SELECTION_FILTERS[filtered];
            $(this).parent("div.filter-item").empty();
            refreshList();
        });

        refreshList();
    };

    var refreshList = function() {
        var visibleIndex = 0;
        for (var songIndex in library) {
            var row = $("div.song-"+songIndex);
            var song = library[songIndex];
            if ( shouldDisplay(song) ) {
                if (visibleIndex % 2 === 0) {
                    row.removeClass("row-odd");
                    row.addClass("row-even");
                } else {
                    row.removeClass("row-even");
                    row.addClass("row-odd");
                }
                visibleIndex++;
                row.show();
            } else {
                row.hide();
            }
        }
    };

    // sort by artist, album, track # when the page loads
    library.sort(compoundComparator(comparify(["artist", "album", "number"])));
    renderSelectionList();
});
</script>
<script id="pyed-row-template" type="text/x-handlebars-template">
  {% raw %}
    <div class="row song-{{ index }} selection-row" data-index="{{ index }}">
      <div class="selection-col col-sm-3 song-title">
        <a href="#" class="filter-link" data-filtertarget="title">{{ song.title }}</a>
      </div>
      <div class="selection-col col-sm-3 song-artist">
        <a href="#" class="filter-link" data-filtertarget="artist">{{ song.artist }}</a>
      </div>
      <div class="selection-col col-sm-3 song-album">
        <a href="#" class="filter-link" data-filtertarget="album">{{ song.album }}</a>
      </div>
      <div class="selection-col col-sm-2 song-track-number">
        <a href="#" class="filter-link" data-filtertarget="number">{{ song.number }}</a>
      </div>
      <div class="selection-col col-sm-1 song-year">
        <a href="#" class="filter-link" data-filtertarget="year">{{ song.year }}</a>
      </div>
    </div>
  {% endraw %}
</script>
<script id="pyed-heading-filter-template" type="text/x-handlebars-template">
  {% raw %}
    <a href="#" class="remove-filter" data-filtertarget="{{ target }}">
      <i class="fa fa-times"></i>
    </a>
    {{ filter_text }}
  {% endraw %}
</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/pyed_player.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/jplayer/jplayer.blue.monday.css" type="text/css" media="screen" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="content">
  <!-- header -->
  <div class="container" id="top-container">
    <div class="row" id="toolbar">

      <div class="col-md-4">
        <form id="search-form" method="post" action="">
          <input class="form-control search-input" type="text" name="song-search" value="" placeholder="Search" />
          <button class="search-button btn btn-primary">
            <i class="fa fa-search"></i> Search
          </button>
          <button class="clear-button btn btn-danger">
            <i class="fa fa-times"></i> Clear
          </button>
        </form>
        <h6 id="header">Pyed Player</h6>
      </div>

      <div class="col-md-4 current-track-container">
        <marquee>
          <h3 id="current-track">Untitled</h3>
          <h3 id="current-artist">[Artist]</h3>
        </marquee>
      </div>

      <div class="col-md-1">
        <button class="btn btn-success add-all-button">
          <i class="fa fa-plus"></i> Add All
        </button>
      </div>

      <div class="col-md-3">
        <div class="pull-right">
          <button class="btn btn-primary prev-track-button">
            <i class="fa fa-step-backward"></i>
          </button>
          <button class="btn btn-primary next-track-button">
            <i class="fa fa-step-forward"></i>
          </button>
          <button class="btn btn-warning clear-playlist-button">
            <i class="fa fa-trash-o"></i> Clear
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- selection interface -->
  <div id="pyed-pyper-headings" class="container">
    <div class="row headings-row">
      <div class="col-sm-3 heading-div">
        <a href="#" data-sortfields="title artist album number" class="pyed-heading">Title</a>
        <div class="filter-item"></div>
      </div>
      <div class="col-sm-3 heading-div">
        <a href="#" data-sortfields="artist album number" class="pyed-heading">Artist</a>
        <div class="filter-item"></div>
      </div>
      <div class="col-sm-3 heading-div">
        <a href="#" data-sortfields="album artist number" class="pyed-heading">Album</a>
        <div class="filter-item"></div>
      </div>
      <div class="col-sm-2 heading-div">
        <a href="#" data-sortfields="number artist album" class="pyed-heading">Track #</a>
        <div class="filter-item"></div>
      </div>
      <div class="col-sm-1 heading-div">
        <a href="#" data-sortfields="year artist album number" class="pyed-heading">Year</a>
        <div class="filter-item"></div>
      </div>
    </div>
  </div>
  <div id="pyed-pyper-container" class="container">
  </div>

  <!-- jplayer -->
  <div class="jplayer-container">
    <div id="jquery_jplayer_1" class="jp-player">
    </div>
    <div id="jp_container_1" class="jp-audio">
      <div class="jp-type-single">
        <div class="jp-gui jp-interface">
          <ul class="jp-controls">
            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
          </ul>
          <div class="jp-progress">
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
            </div>
          </div>
          <div class="jp-volume-bar">
            <div class="jp-volume-bar-value"></div>
          </div>
          <div class="jp-time-holder">
            <div class="jp-current-time"></div>
            <div class="jp-duration"></div>
            <ul class="jp-toggles">
              <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
              <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
            </ul>
          </div>
        </div>
        <div class="jp-title">
          <ul>
            <li>Bubble</li>
          </ul>
        </div>
        <div class="jp-no-solution">
          <span>Update Required</span>
          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>

      <!-- jplayer playlist addon -->
      <div class="jp-playlist">
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
