html, body {
    width:100%;
    height:100%;
    overflow:hidden;
}

#pyed-pyper-container {
    position:absolute;
    top:100px;
    left:0px;
    right:430px;
    bottom:0px;
    width:auto;

    overflow-x:hidden;
    overflow-y:scroll;
}

#header {
    position:absolute;
    left:0px; right:0px; top:0px;
    height:100px;
    width:100%;

    border-bottom:3px #aaa solid;
}

div.selection-container {
    margin-right:420px;
    overflow:scroll;
}

div.jplayer-container {
    width:420px;
    position:absolute;
    top:100px; right:0px;
    border-left:3px #aaa solid;
    height:100%;
}

a.pyed-heading {
    font-weight:bold;
    text-transform:capitalize;
    font-size:1.2em;
}
