html, body {
    width:100%;
    height:100%;
    overflow:hidden;

    background-color:rgb(120,0,140);
    color:rgb(220,160,0);
}

a {
    color:rgb(220,160,0);
}

#pyed-pyper-headings {
    position:absolute;
    top:60px;
    left:0px;
    right:430px;
}

#pyed-pyper-container, #pyed-pyper-headings {
    position:absolute;
    top:60px;
    left:0px;
    right:430px;
    width:auto;
    background-color:rgb(220,100,240);
    color:rgb(30,20,0);
}

#pyed-pyper-headings {
    height:30px;
}

#pyed-pyper-container {
    /* this container should stretch all the way to the bottom */
    bottom:0px;

    overflow-x:hidden;
    overflow-y:scroll;
    /* should match pyed-pyper-headings.height */
    margin-top:30px;
}

div.row-even {
    background-color:rgb(255,180,255);
}
div.row-odd {
    background-color:rgb(245,160,245);
}

div.selection-row:hover {
    background-color:rgb(170,80,200);
    color:white;
    font-weight:bold;
}

#top-container {
    position:absolute;
    left:0px; right:0px; top:0px;
    width:100%;

    border-bottom:3px #aaa solid;
}

#toolbar {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #696969),
        color-stop(1, #292929)
    );
    background-image: -o-linear-gradient(bottom, #696969 0%, #292929 100%);
    background-image: -moz-linear-gradient(bottom, #696969 0%, #292929 100%);
    background-image: -webkit-linear-gradient(bottom, #696969 0%, #292929 100%);
    background-image: -ms-linear-gradient(bottom, #696969 0%, #292929 100%);
    background-image: linear-gradient(to bottom, #696969 0%, #292929 100%);

    height:60px;
    padding:10px 10px;
}

div.selection-container {
    margin-right:420px;
    overflow:scroll;
}

div.jplayer-container {
    position:absolute;
    top:60px; right:0px;
    border-left:3px #aaa solid;
    height:100%;
}

div.jp-audio, div.jplayer-container {
    /* overrides player width in jplayer.blue.monday.css */
    width:430px !important;
}

div.selection-row {
    height:2.2em;
}

div.headings-row {
    height:2.4em;
}

div.headings-row div {
    border-right:2px groove #aaa;
    height:100%;
}

div.headings-row a {
    color:rgb(255,200,100);
}


a.pyed-heading {
    font-weight:bold;
    text-transform:capitalize;
    font-size:1.2em;
}

h1 {
    font-weight:900;
}

input.search-input {
    width:200px;
    display:inline;
}

#current-track, #header {
    margin-top:0;
}

#search-form, #header, #current-artist, #current-track {
    display:inline;
}

#current-track, #current-artist {
    font-family:"Courier", monospace;

    text-shadow:
    -2px -2px 0 #333,
    2px -2px 0 #333,
    -2px 2px 0 #333,
    2px 2px 0 #333;

    padding:0 10px;
}

div.current-track-container {
    text-align:center;
    background-color:black;
    height:100%;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #383838),
        color-stop(1, #3D3D3D)
    );
    background-image: -o-linear-gradient(bottom, #383838 0%, #3D3D3D 100%);
    background-image: -moz-linear-gradient(bottom, #383838 0%, #3D3D3D 100%);
    background-image: -webkit-linear-gradient(bottom, #383838 0%, #3D3D3D 100%);
    background-image: -ms-linear-gradient(bottom, #383838 0%, #3D3D3D 100%);
    background-image: linear-gradient(to bottom, #383838 0%, #3D3D3D 100%);

    border:solid 1px #333;
}

/* div.current-track-container span { */
/*     text-align:center; */
/* } */
